CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/cmake-build-debug-visualstudio2022/
/.idea/
/cmake-build-debug-savior-msvc2022/
/cmake-build-debug-visual-studio/
/cmake-build-debug/
/cmake-build-debug-arch-clang/
/cmake-build-debug-arch-g/
/cmake-build-debug-vs22littleitx/
/cmake-build-debug-visualstudio2022x86/
/cmake-build-*/